// Override this file to add your own SCSS styling.


// My buttons

.mak-button {
    background-color: #4CAF50; /* Green */
    // border: none;
    color: white;
    padding: 9px 18px;
    text-align: center;
    // text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  
  .mak-button:hover {
    box-shadow: 0 6px 9px 0 rgba(0,0,0,0.24),0 9px 27px 0 rgba(0,0,0,0.19);
  }

  
// rnd to disable disqus ads 
// It works :-)
//   iframe[sandbox]:not([sandbox=""]) {
//     display: none !important;
// }

// It works :-)
// iframe[title]:not([title=""]) {      
//   display: none !important;
// }
